[Desktop Entry]
Type=Application
Name=LanExplorer
GenericName=TODO
Comment=TODO.
Keywords=todo;
Exec=lan-explorer
Icon=${SNAP}/meta/gui/icon.png
Terminal=true
StartupNotify=true
